<h2 class="content-block">Recipes</h2>

<dx-data-grid class="dx-card wide-card" [dataSource]="dataSource" [showBorders]="false" [focusedRowEnabled]="true"
    [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true">
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="Recipe Info" [showTitle]="true">
        </dxo-popup>
        <dxo-form>
            <dxi-item itemType="group" caption="Basic Info" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="name"></dxi-item>
                <dxi-item dataField="courseId"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Timing" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="prepTime"></dxi-item>
                <dxi-item dataField="cookTime"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Yield" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="servingSize"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxi-column dataField="name" caption="Name"></dxi-column>
    <dxi-column dataField="courseId" caption="Course">
        <dxo-lookup [dataSource]="courses" displayExpr="name" valueExpr="id"></dxo-lookup>
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="prepTime" caption="Prep Time"></dxi-column>
    <dxi-column dataField="cookTime" caption="Cook Time"></dxi-column>
    <dxi-column dataField="totalTime" caption="Total Time"></dxi-column>
    <dxi-column dataField="servingSize" caption="Servings"></dxi-column>
</dx-data-grid>